# Paymently environment variables
# Copy ke .env dan isi dengan kredensial sebenarnya

PAYMENT_API_BASE_URL=https://payment.uii.ac.id
PAYMENT_API_ACCESS_TOKEN_PATH=/v1.0/access-token/b2b/
PAYMENT_API_INQUIRY_PATH=/v2/bill/inquiry
PAYMENT_API_HEALTHZ_PATH=/v2/bill/healthz
PAYMENT_API_CONNECT_TIMEOUT=10s
PAYMENT_API_READ_TIMEOUT=20s

PAYMENT_CLIENT_KEY=
PAYMENT_CHANNEL_ID=
PAYMENT_PARTNER_ID=
PAYMENT_EXTERNAL_ID=
PAYMENT_SIGNATURE=
PAYMENT_AUTH_TIMESTAMP=2026-07-14T15:44:00+07:00
